#sc{
    background-color:lightcoral  ;
    height: 1%;
}
#foot{
    background-color: lightgrey;
    color:gainsboro;
    height: "70px";
 
}
#table{
    background-color: goldenrod;
    height:50px;
}
 #frm{
     background-color:wheat;
     padding-left: "5px";
 }

 
